.text_Box{
    width: 100%;
    height: 4rem;
    background-color: rgb(245, 236, 220);
    /* background:url("http://s4.sinaimg.cn/orignal/4965559cfa1ac4190d963") no-repeat; */
}
.Hp_Box{
    display: block;
    width: 2rem;
    height: 2rem;
    border:1px solid #ccc;
    border-radius: 10rem;
    opacity: 0.5;
    overflow: hidden;
    float: left;
    margin-left: 0.3rem;
}
.Nl_img{
   
    width: 100%;
    height: 100%;
}
.login_Box{

}
.loginT{
    position:absolute;
    left: 3rem;
    top: 1.7rem;
    font-size: 16px;
    color: #000; 
}
.loginT p{
    color: #ff5f16;
}
.login_Box input{
    width: 4.2rem;
    height: 0.6rem;
    border:none;
    opacity: 0.5;
    
}
.login_Btn{
    width: 2.6rem;
    height: 0.6rem;
    border-width: 0px;
    border-radius: 0.2rem;
    background: #1e90ff;
    outline:none;
    font-size:0.4rem;
    opacity: 0.5;
    margin: 0.3rem auto;
    
}
.tit_Wb_box{
    width: 100%;
    height: 1.5rem;

	display: table;
}
.tit_Wb{
    display: table-cell;
	vertical-align: middle;
    color: #000;
}
.tit_Wb:nth-child(1){
    color: #ff5f16;
}
.tit_Wb:nth-child(2){
    color: #000;
    font-size: 13px;
}
/* 星座运势box布局 */
.luck_Box{
    width:100%;
    height: 1rem;
    background-color: #1e90ff;
}
.star_Box{
    float: left;
    width: 50%;
    height: 1rem;
    background-color: beige;
    text-align: center;
    line-height: 1rem;

}

.alma_Box{
    float: right;
    width: 50%;
    height:1rem;
    background-color: beige;
    text-align: center;
    line-height: 1rem;
}
/* --------用户页面功能列表区------------- */


.list_Ul_Box{
    background-color: beige;
    width: 100%;
    height: 7rem;
    position: fixed;
    overflow-y: auto;
}

.list_Ul_Box li{
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    height: 1.5rem;
    position: relative;
    color: #ff5f16;
    border: 1px solid #ff5f16;
    margin-bottom: 0.1rem;
    border-radius:2px; 
}
.list_Ul_Box li img{
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    border-radius:50%;
    overflow: hidden; 
    margin-top:0.15rem ;
    margin-left:0.2rem; 
}


.list_Ul_Box li i{
    display: inline;
    width: 0.5rem;
    height: 0.5rem;
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAkCAMAAABR74GsAAAAhFBMVEVHcEy+wMa+wcW9wMXQ0NDFxcW9wMW///+9wMW9wMW+wMW+wse+wMXBwca/wsW9wMW+wMa9wcW9wcW+wMa9wse9wMW9wcbAwMa/xsa9wMXAwMe9wMW9wcW/wca+wca9wMW9wsa+wMa9wMW9wMW9wcW/1NS+wMXHx8e/wcbCws6+wcW9wMXhD+L5AAAAK3RSTlMAgrXLCxblBPz1ZjfcNkzdnraBg2XPyk0k6iXrjXCd5HGLnLeADMwXZBVL0OsnaQAAAJJJREFUKM+t0EcSgzAMQFEDBmx6OiW9J//+98te8iqDlm80428ZM8ccslVATxDgC1AozWNwO8V2C75U/KlgGhX3A7QvxbWH50Px18EtV/wGOp19ByLN1xl+k1aw0doG1Cbga/naAlwjVztgLTEClhIL4CixcRDL65QeEitwnKBKA/VD/3/9PlRvskC9MecsMnPPD3MGEI/gd5ReAAAAAElFTkSuQmCC') ;
    background-size: 100% 100%; 
    background-repeat:no-repeat; 
    position: absolute;
    right: 0.2rem;
    top: 0.5rem;
}
.list_Ul_Box li span{
    width: 3.3rem;
    height: 0.5rem;
    float:right;
    font-size: 0.4rem;
    margin: 0.5rem 1.7rem 0.3rem 0.2rem;

}

