.text_Box{
    width: 100%;
    height: 4rem;
    background:url("http://s4.sinaimg.cn/orignal/4965559cfa1ac4190d963") no-repeat;
}
.Hp_Box{
    display: block;
    width: 2rem;
    height: 2rem;
    border:1px solid #ccc;
    border-radius: 10rem;
    opacity: 0.5;
    overflow: hidden;
    float: left;
}
.Nl_img{
    width: 100%;
    height: 100%;
}
.login_Box{
   padding-top:0.3rem;
   width: 5rem;
   height: 2.6rem;
    float: right;
    margin-right: 0.3rem;
}
.login_Box input{
    width: 4.2rem;
    height: 0.6rem;
    border:none;
    opacity: 0.5;
}
.login_Btn{
    width: 2.6rem;
    height: 0.6rem;
    border-width: 0px;
    border-radius: 0.2rem;
    background: #1e90ff;
    outline:none;
    font-size:0.4rem;
    opacity: 0.5;
    margin: 0.3rem auto;
    
}
.tit_Wb{
    color: #fff;
}